<div
  id="bdm-sticky-atc-bar-root"
  class="bdm-sticky-atc-bar-root"
  data-product-id="{{ product.id }}"
  data-product-handle="{{ product.handle }}"
  data-shop-domain="{{ shop.permanent_domain }}"
  data-product-title="{{ product.title | escape }}"
>
  <!-- Sticky bar will be rendered here by JS -->
</div>

{{ 'sticky-atc-bar.css' | asset_url | stylesheet_tag }}
<script defer src="{{ 'sticky-atc-bar.js' | asset_url }}"></script>
